*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root {
    --main-color: #bd110f;
    --main-hover: #b10300da;
    --blue: #007bff;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --light: #f8f9fa;
    --dark: #343a40;
    --border: #D15957;
    /* --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px; */

    --ff-ss: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --ff-mn: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    --ts-0-3: all .3s linear;
    --ts-0-4: all .4s linear;
    --ts-0-5: all .5s linear;
}

button,
input,
textarea {
    outline: none;
}

.container {
    width: 1300px;
    margin: 0 auto;
}

.row {
    display: flex;
    align-items: center;
}

.current {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hidden-scoll {
    overflow: hidden;
}

/*
    *** header ***
*/
header {
    width: 100%;
    height: 130px;
    background: var(--main-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
}

/* .header-top */
.header-top {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgba(225, 225, 225, .3);
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 158px;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.header-t__nav {
    height: 100%;
}

.header-t__button {
    height: 50px;
    padding: 0 10px;
    border: none;
    background: var(--main-hover);
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;
    transition: var(--ts-0-3);
}

.header-t__button:hover {
    background: rgba(0, 0, 0, .1);
}

.header-t__button nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header-t__button h4 {
    font-family: var(--ff-ss);
    font-size: .9rem;
    font-weight: 400;
}

.header-t__button span {
    font-family: var(--ff-ss);
    font-size: .9rem;
    font-weight: 600;
}

.header-t__button i {
    font-size: .7rem;
    margin-left: 8px;
}

.search-nav {
    width: 320px;
    height: 50px;
    background: var(--white);
    border-radius: 5px;
    margin: 0 15px;
    position: relative;
}

.search-input {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    background: transparent;
    padding: 0 55px 0 15px;
    font-size: .8rem;
}

.search-button {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5px;
    width: 50px;
    height: 100%;
    border: none;
    background: transparent;
    font-size: 1.2rem;
    cursor: pointer;
}

.header-ac__item {
    height: 50px;
padding: 0 10px;
    border: none;
    background: var(--main-color);
    border-radius: 5px;
    margin-left: 6px;
    cursor: pointer;
    position: relative;
}

.header-ac__item:hover {
    background: var(--main-hover);
}

.header-ac__item img {
    margin-right: 12px;
}

.header-ac__item nav h3 {
    color: var(--white);
    font-family: var(--ff-ss);
    font-size: .8rem;
    font-weight: 400;
}

.header-ac__item nav span {
    color: var(--white);
    font-family: var(--ff-ss);
    font-size: 1rem;
    font-weight: 700;
}

.cart-number {
    position: absolute;
    top: 0;
    left: 25px;
    min-width: 20px;
    height: 24px;
    padding: 2px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background: var(--border);
    border: 2px solid var(--main-color);
    color: var(--white);
    font-family: var(--ff-ss);
    font-size: .7rem;
    font-weight: 400;
}

.md-action {
    position: absolute;
    top: calc(100% + 12px);
    right: 0;
    width: 100%;
    height: auto;
    background: var(--main-color);
    border: 1px solid rgba(225, 225, 225, .3);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: var(--ts-0-3);
}

.md-action::after {
    content: '';
    position: absolute;
    top: -20px;
    right: 0;
    width: 100%;
    height: 20px;
    background: transparent;
}

.md-action__item {
    padding: 8px 10px;
    color: var(--white);
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--ff-ss);
}

.md-action__item:hover {
    background: rgba(0, 0, 0, .1);
}

.header-ac__item:hover .md-action {
    top: calc(100% + 6px);
    opacity: 1;
    visibility: visible;
}

/* .header-below */
.header-below {
    width: 100%;
    height: 50px;
    padding: 5px 0;
}

.header-be__item {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    background: transparent;
    margin-right: 10px;
    border-radius: 5px;
    color: var(--white);
    transition: var(--ts-0-3);
}

.header-be__item:hover {
    background: var(--main-hover);
}

.header-be__item img {
    height: auto;
    width: 30px;
    object-fit: cover;
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
    margin-right: 8px;
}

.header-be__item span {
    color: var(--white);
    font-size: .8rem;
    font-weight: 500;
    font-family: var(--ff-ss);
}

